<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HSSAdmin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   <servlet> -->
<!--     <servlet-name>DashboardServlet</servlet-name> -->
<!--     <servlet-class>com.ttil.servlet.DashboardServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DashboardServlet</servlet-name> -->
<!--     <url-pattern>/getCount</url-pattern> -->
<!--   </servlet-mapping> -->
  
   <servlet>
    <servlet-name>someservlet</servlet-name>
    <servlet-class>com.ttipl.servlet.DashboardServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>someservlet</servlet-name>
    <url-pattern>/someservlet/*</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>applicantsServlets</servlet-name>
    <servlet-class>com.ttipl.servlet.ApplicantsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>applicantsServlets</servlet-name>
    <url-pattern>/applicantsServlet/*</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>applicantsSearchServlet</servlet-name>
    <servlet-class>com.ttipl.servlet.ApplicantsSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>applicantsSearchServlet</servlet-name>
    <url-pattern>/applicantsSearchServlet/*</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>applicantsStatusSearchServlet</servlet-name>
    <servlet-class>com.ttipl.servlet.ApplicantsStatusSearchServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>applicantsStatusSearchServlet</servlet-name>
    <url-pattern>/applicantsStatusSearchServlet/*</url-pattern>
</servlet-mapping>



   <servlet>
    <servlet-name>someservlet2</servlet-name>
    <servlet-class>com.ttipl.servlet.DashboardServlet2</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>someservlet2</servlet-name>
    <url-pattern>/someservlet2/*</url-pattern>
</servlet-mapping>




   <servlet>
    <servlet-name>someservletc1</servlet-name>
    <servlet-class>com.ttipl.servlet.DashboardServletchart1</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>someservletc1</servlet-name>
    <url-pattern>/someservletc1/*</url-pattern>
</servlet-mapping>




</web-app>